{% extends 'videoCall/main.html' %}
{% load static %}
{% block content %}

<main>

    <section id="form-container">

        <img id="logo" src="{% static 'images/video-chat.png' %}"/>

        <div id="welcome-message">
            <h1>Welcome to MyChat</h1>
            <p>A group video calling platform made just for you!</p>
        </div>

        <form id="form">
            <div class="field-wrapper">

                <div class="form-field">
                    <label>Room ID:</label>
                    <input name="room"  style="text-transform:uppercase;border-radius: 20px;"/>
                </div>

                <div class="form-field">
                    <label>Name:</label>
                    <input name="name"   style="text-transform:uppercase;border-radius: 20px;"/>
                </div>

                <div class="form-field">
                    <input type="submit" style="background-color: greenyellow;cursor: pointer;" value="Join Stream" />
                </div>
            </div>
        </form>
    </section>
</main>

<script>
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault() //this prevents a forms default functions and will let js handle it
        let room = e.target.room.value.toUpperCase()
        let name = e.target.name.value

        let response = await fetch(`/video/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)

        window.open('/video/room/', '_self') //_self makes sure it doesnt open in a new page
    }
    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}